/* Fondo galaxia */
.galaxy-background {
  position: relative;
  height: 100vh;
  /* width: 100vw; */
  background: radial-gradient(circle, #1b2735, #090a0f);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estrellas */
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}

/* Animación de parpadeo */
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* Título */
.center-title {
  color: white;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}
